* {
	font-family: 'Fira Sans', sans-serif;
}

body {
	margin: 1em;
	background-color: #D3D3D3;
}

/*Login Styling*/
.move-down {
	min-height: 250px;
}

h4 {
	font-weight: bolder;
	font-size: 50px;
}

#loginbtn {
	font-size: 25px;
}

.login-flex {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#google-login {
	flex-grow: 1;
}

#login-form {
	flex-grow: 1;
}
/*Button Styling*/


/*Profile Page Styling*/

.profile-flex {
	display: flex;
	align-items: flex-start;
}

#save {
	justify-content: flex-start;
	width: 55%;
	display: inline-block;
	border: 2px solid black;
}

#mapid { 
	height: 400px;
	width: 40%; 
	display: inline-block;
	margin-left: 15px;
/*	border: 2px solid black;
*/	box-shadow: 3px 3px 3px 1px black;
}

/*Promotions Page Styling*/

.promo-table {
	border: 2px solid black;
}