body {
	margin: 1em;
	background-color: #D3D3D3;
	font-family: 'Oxygen', sans-serif;
}

/*Login Styling*/
.move-down {
	min-height: 250px;
}

h4 {
	font-weight: bolder;
	font-size: 50px;
}

#loginbtn {
	font-size: 25px;
}

/*Profile Page Styling*/

.profile-flex {
	display: flex;
	align-items: flex-start;
}

#save {
	justify-content: flex-start;
	width: 55%;
	display: inline-block;
}

#mapid { 
	height: 400px;
	width: 40%; 
	display: inline-block;
	margin-left: 15px;
}