* {
	font-family: 'Fira Sans', sans-serif;
}

body {
	margin: 1em;
	background-color: #bfb9b7;
}

/*Login Styling*/
.move-down {
	min-height: 250px;
}

h4 {
	font-weight: bolder;
	font-size: 50px;
}

#loginbtn {
	font-size: 25px;
}

.login-flex {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#google-login {
	flex-grow: 1;
}

#login-form {
	flex-grow: 1;
}
/*Back to Top Button Styling*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*Profile Page Styling*/

.profile-flex {
	display: flex;
	align-items: flex-start;
}

#save {
	justify-content: flex-start;
	width: 55%;
	display: inline-block;
	border: 2px solid black;
}

#mapid { 
	height: 400px;
	width: 40%; 
	display: inline-block;
	margin-left: 15px;
/*	border: 2px solid black;
*/	box-shadow: 3px 3px 3px 1px black;
}

/*Promotions Page Styling*/

.promo-table {
	border: 2px solid black;
}

/*Fixed Footer Styling*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}